@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .brand-ease {
    @apply transition-all duration-300 ease-in-out;
  }
  .brand-px {
    @apply px-8 md:px-16 lg:px-20 xl:px-28 2xl:px-32;
  }
  .brand-py {
    @apply py-[150px];
  }

  .dotted-background {
    @apply bg-primary;
    background-image: radial-gradient(#343d4d40 1px, transparent 1px),
      radial-gradient(#343d4d40 1px, transparent 1px);
    background-size: 70px 70px;
    background-position:
      0 0,
      35px 35px;
  }

  .dotted-background-dark {
    @apply bg-dark;
    background-image: radial-gradient(#eff5f71f 1px, transparent 1px),
      radial-gradient(#eff5f71f 1px, transparent 1px);
    background-size: 70px 70px;
    background-position:
      0 0,
      35px 35px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
